html {
    --text: #343508;
    --background: #f7e26d;
    --primary: #b3a06d;
    --secondary: #3467a1;
    --accent: #fff9c4;
    padding: 12px;

}
body {
    color: var(--text);
    background: var(--background)
}

h1,
h2,
h3  {
    color:var(--primary);
    font-weight: 20px;
    font-style: normal;
    font-stretch: condensed;
    font-size: x-large;
    border: 3px solid rgb(204, 134, 30);
    border-radius: 9px;
    padding: 3px;
    background:var(--accent)
     
} 

p  {
    background:var(--accent);
    margin: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border: 3.8px solid goldenrod;
    border-radius: 12px
}

li::marker  {
    color:var(--accent)

}

img  {
    padding: 4px;
    border: 4px solid var(--secondary)
    
}
    
audio {
    background: var(--secondary)
}